apiVersion: apps/v1
kind: Deployment
metadata:
name: demo-ui
spec:
replicas: 1
revisionHistoryLimit: 3
selector:
matchLabels:
app: demo-ui
template:
metadata:
labels:
app: demo-ui
spec:
containers:
- image: anderson663/demo-ui:65fa8b4af3d3580c1424c4d6dfdc83ee557640b3
name: demo-ui
ports:
- containerPort: 80
